
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.repositories-length {
  text-decoration: #f9826c 3px underline;
  text-underline-offset: 5px;
  margin-bottom: 30px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;

}

.dashboard-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.text-input {
  border-radius: 6px;
  border-width: .4px;
  vertical-align: middle;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #e1e4e8;
  width: 75%;
  height: 22px;
  margin-bottom: 40px;
}

.btn-new-repo {
  color: white;
  background-color: #2ea44f;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid;
  border-radius: 6px;
  height: 35px;
  width: 70px
}

@media screen and (max-width:3000px) {
  .dashboard-container {
    width: 75%;
  }
}

@media screen and (max-width:769px) {
  .dashboard-container {
    background-color: rgb(247, 247, 247);
    width: 100%;
  }
  .repositories-length {
    padding-top: 20px;
  }
  .text-input {
    width: 40%
  }
}